#pagenav {
	position:absolute;
	z-index:99;
	left:0px;
	top:0px;
}

#loading {
	position:absolute;
	z-index:99;
	right:2px;
	top:42px;
	background:red;
	color:white;
	padding:2px;
	display:none;
}

#searchbox {
	position:absolute;
	z-index:90;
	right:0px;
	top:0px;
	padding:2px;
}

#searchmarkers {
	display:none;
	position:absolute;
	width:20px;
	top:42px;
	bottom:5px;
	-moz-box-shadow: 0px 5px 7px #888;
	-webkit-box-shadow: 0px 5px 7px #888;
}

.resmark {
	border:1px solid #D3E18A;
	background-color:#D3E18A;
	width:20px;
	position:absolute;
	left:0px;
	height:1px;
	cursor:pointer;
}

#searchresults {
	border:1px solid #EEEEEE;
	position:absolute;
	top:42px;
	bottom:5px;
	right:5px;
	display:none;
	padding:5px;
	overflow-x:hidden;
	overflow-y:auto;
	padding-right:25px;
	-moz-box-shadow: 5px 5px 7px #888;
	-webkit-box-shadow: 5px 5px 7px #888;
}

#title {
	text-align:center;
	font-family:"Georgia", Times, serif;
	font-size:150%;
	text-shadow: 2px 2px 2px #AAAAAA;
}

#header {
	position:absolute;
	left:2px;
	right:2px;
	top:2px;
	height:30px;
	border-bottom:1px solid #EEEEEE;
	-moz-box-shadow: 0px 5px 7px #888;
	-webkit-box-shadow: 0px 5px 7px #888;
}

#body {
	border:1px solid #EEEEEE;
	position:absolute;
	top:42px;
	bottom:5px;
	left:0px;
	right:0px;
	width:500px;
	overflow-y:auto;

	word-wrap: break-word;
	-moz-box-shadow: 5px 5px 7px #888;
	-webkit-box-shadow: 5px 5px 7px #888;
	display:none;
}

#footer {
	position:absolute;
	left:25%;
	right:25%;
	bottom:2px;
	height:26px;
}

.page {
	border-bottom:1px solid #EEEEEE;
}

.page-text {
	display:table-cell;
	vertical-align:top;
	overflow:auto;
}

.page-text img {
	border:none;
}

.page-image {
	display:table-cell;
	vertical-align:top;
}

.page-number {
	display:table-cell;
	vertical-align:top;
	margin-right:2px;
	padding-right:1px;
	width:26pt;
	text-align:right;
	border-right:1px solid #EEEEEE;
}

.page-vsep {
	display:table-cell;
	width:1px;
	background:#EEEEEE;
	border:none;
	margin-left:4px;
	margin-right:4px;
}

.highlight {
	background:#D3E18A;
/*	font-weight:bold;*/
}

body {
	overflow:hidden;
}


/* WIKISOURCE REPLACEMENT CLASSES */

a.new {
	color:red
}

.mw-headline {
	font-size:12pt;
	font-weight:none;
	border-bottom:1px solid #EEEEEE;
}

.quality0 {
	border-left:5px solid #AAAAAA;
	padding-left:2px;
}

.quality1 {
	border-left:5px solid red;
	padding-left:2px;
}

.quality2 {
	border-left:5px solid blue;
	padding-left:2px;
}

.quality3 {
	border-left:5px solid yellow;
	padding-left:2px;
}

.quality4 {
	border-left:5px solid green;
	padding-left:2px;
}

.poem { 
    margin-bottom:0em; 
    margin-top:0em; 
    line-height:1.6em;
    margin-left:2.5em;
    text-indent:0em;
}

.poem p { 
    margin-top:0em !important; 
    margin-bottom:0em !important; 
    text-indent:0em !important;
}

.editsection {
	display:none;
}

.bookinfo {
	display:none;
}

.info_loading {
	display:none;
	margin-left:10px;
}
